/**
 * @fileoverview Basic styling for Rosewater Tech page
 *
 * TODO(slanden): Convert to SASS
 *
 * @author Samantha Landen (sam@rosewater.tech)
 */

body {
    background-color: #9B0052;
    color: white;
    font-family: 'Montserrat', Helvetica, sans-serif;
}

.container-centered {
    width: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
    box-sizing: border-box;
}

.coming-soon-banner {
    display: flex;
    align-items: center;
    margin: 0;
    font-size: 4rem;
}

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
}

.contact-intro {
    margin: 0 0 15px;
}

.form-input {
    margin-bottom: 15px;
    border: 0;
    padding: 10px;
    border-radius: 3px;
}

.btn {
    width: fit-content;
    padding: 5px 15px;
    border-radius: 3px;
    border: 0;
}

@media only screen and (min-width: 1100px) {
    .container-soon {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .coming-soon-banner {
        padding-right: 50px;
        border-right: 1px solid white;
    }

    .contact-form {
        padding-left: 50px;
    }
}

@media only screen and (max-width: 1100px) {
    .container-soon {
        display: flex;
        flex-direction: column;
    }

    .coming-soon-banner {
        padding-bottom: 50px;
        border-bottom: 1px solid white;
    }

    .contact-form {
        padding-top: 50px;
    }
}